<h2>Book result for <%= @title %></h2>

<div class="results">
  <h2>Title: <span><%= @title %></span></h2>
  <h2>Author: <span><%= @author %></span></h2>
  <h2>Publisher: <span><%= @publisher %></span></h2>
  <h2>Published Date: <span><%= @published_date %></span></h2>
  <h2>Page Count: <span><%= @page_count %></span></h2>
  <h2>Category: <span><%= @category %></span></h2>
  <h2>Rating: <span><%= @rating %></span></h2>
  <h2>ISBN: <span><%= @id %></span></h2>
</div>
<div class="">
  <h2>Description: <span><%= @description %></span></h2>
</div>


<img src="<%= @thumbnail %>">
