<h2>Bookshelf</h2>

<form class="" action="/bookshelf" method="post">
  <label>Title</label>
  <input type="text" name="title">
  <label>Genre</label>
  <input type="text" name="genre">
  <label>Author</label>
  <input type="text" name="author">
  <label>Notes</label>
  <textarea name="comment" rows="5" cols="70"></textarea>
  <br>
  <button>Add</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Book ID</th>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Author</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>


  <hr>
    <tbody>

      <% @books.each do |book| %>
      <tr>
        <th scope="row"><%= book[0] %></th>
        <td><%= book[1] %></td>
        <td><%= book[2] %></td>
        <td><%= book[3] %></td>
        <td><%= book[4] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <!-- <%# @comments.each do |comment| %>
    <p><%#= comment.body %></p>
  <%# end %> -->


<!--  <%# @comments.each do |comment| %>
 <p><%#= comment.body %></p>
 <%# end %> -->
