<h2>Bookshelf</h2>

<form class="" action="/bookshelf" method="post">
  <label for="">Title</label>
  <input type="text" name="title">
  <label for="">Genre</label>
  <input type="text" name="genre">
  <label for="">Author</label>
  <input type="text" name="author">
  <br>
  <button>Add</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Book ID</th>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Author</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>

  <!-- <form action="/comments" method="post">
    <input type="hidden" name="book_id" value="<%#= @book.id %>">
    <textarea name="body" rows="4" cols="50"></textarea>
    <button>Post comment</button>
  </form> -->

  <hr>
    <tbody>

      <% @books.each do |book| %>
      <tr>
        <th scope="row"></th>
        <td><%= book %></td>
        <td><%= @title %></td>
        <td><%= @genre %></td>
        <td><%= @author %></td>
        <td><%= @comments %></td>
      </tr>
      <% end %>
    </tbody>
  </table>


  <!-- <ol class="book_list">
      <a href="#">
        <li><%#= book %></li>
      </a>
  </ol> -->



<!--  <%# @comments.each do |comment| %>
 <p><%#= comment.body %></p>
 <%# end %> -->
