<h2>Search results for: <%= @book %></h2>

<div class="container-fluid">
  <ul>                           
    <div class="row align-middle search_list">
      <% @search.each do |book| %>
        <% if book["volumeInfo"]["industryIdentifiers"] %>
        <div class="col-lg-4">
          <a href="/book_result?id=<%= book["volumeInfo"]["industryIdentifiers"][0]["identifier"] %>">
            <div style="height: 15px;"></div>
              <li>
                <img src="<%= book["volumeInfo"]["imageLinks"]["smallThumbnail"] %>">
              </li>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="/book_result?id=<%= book["volumeInfo"]["industryIdentifiers"][0]["identifier"] %>">
            <div style="height: 15px;"></div>
            <li><%= book["volumeInfo"]["title"] %></li>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="/book_result?id=<%= book["volumeInfo"]["industryIdentifiers"][0]["identifier"] %>">
              <% if book["volumeInfo"]["authors"] %>
              <div style="height: 15px;"></div>
                <li><%= book["volumeInfo"]["authors"][0] %></li>
              <% end %>
          </a>
        </div>
        <% end %>
      <% end %>
    </div>
  </ul>
</div>
