<h2>Search results for <%= @book %></h2>

<div class="search_list">
  <ol>
    <% @search.each do |book| %>
      <% if book["volumeInfo"]["industryIdentifiers"] %>
        <a href="/book_result?id=<%= book["volumeInfo"]["industryIdentifiers"][0]["identifier"] %>">
          <li>
            <img src="<%= book["volumeInfo"]["imageLinks"]["smallThumbnail"] %>">
          </li>
        </a>
        <a href="/book_result?id=<%= book["volumeInfo"]["industryIdentifiers"][0]["identifier"] %>">
          <li><%= book["volumeInfo"]["title"] %></li>
        </a>
        <a href="/book_result?id=<%= book["volumeInfo"]["industryIdentifiers"][0]["identifier"] %>">
          <% if book["volumeInfo"]["authors"] %>
            <li><%= book["volumeInfo"]["authors"][0] %></li>
          <% end %>
        </a>
      <% end %>
    <% end %>
  </ol>
</div>
