<h2>Search results for <%= @book %></h2>

<div class="container-fluid">
  <div class="search_list">
    <ul>
      <div class="row">
      <% @search.each do |book| %>
        <% if book["volumeInfo"]["industryIdentifiers"] %>
          <a href="/book_result?id=<%= book["volumeInfo"]["industryIdentifiers"][0]["identifier"] %>">
            <div class="col-md">
            <li>
              <img src="<%= book["volumeInfo"]["imageLinks"]["smallThumbnail"] %>">
            </li>
          </div>
          </a>
          <a href="/book_result?id=<%= book["volumeInfo"]["industryIdentifiers"][0]["identifier"] %>">
            <div class="col-md">
              <li><%= book["volumeInfo"]["title"] %></li>
            </div>
          </a>
          <a href="/book_result?id=<%= book["volumeInfo"]["industryIdentifiers"][0]["identifier"] %>">
            <div class="col-md">
            <% if book["volumeInfo"]["authors"] %>
              <li><%= book["volumeInfo"]["authors"][0] %></li>
            <% end %>
          </div>
          </a>
        <% end %>
      <% end %>
    </div>
    </ul>
  </div>
</div>


<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
