<h3>Wishlist</h3>

<form action="/" method="get">
  <button class="btn btn-primary search_btn btn-sm">Another Search</button>
</form>

<table class="table">
  <thead class="table-head-borderless">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <hr>
  <tbody class="table-borderless">
    <% @wishes.each do |wish| %>
      <tr>
        <th scope="row"><%= wish[1] %></th>
        <td><%= wish[2] %></td>
        <td><%= wish[3] %></td>
        <td><%= wish[4] %></td>
        <td><%= wish[5] %></td>
        <td>
          <button class="btn btn-success btn-sm">Purchase</button>
        </td>
        <form class="" action="/wishes" method="post">
          <input type="hidden" name="_method" value="delete">
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
          </td>
        </form>
      </tr>
    <% end %>
  </tbody>
</table>
